@media(min-width: 600px){
    .mat-column-num_control{
        /* min-width:11% !important;         */
        /* max-width:11% !important; */
    }
    .mat-column-nombre{
        min-width:50% !important;
        /* max-width: 55% !important; */
    }
    .mat-column-acciones{
       min-width:20% !important;
       max-width: 20% !important;
    }
}
