<mat-card>
    <mat-card-header>
        <mat-card-title>Cambiar contraseña</mat-card-title>
        <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="formPassword" (ngSubmit)="cambiarPassword()" #form="ngForm">
            <mat-form-field appearance="fill">
                <mat-label>Contraseña actual</mat-label>
                <input matInput [type]="hide ? 'password':'text'" formControlName="password" required>
                <button type="button" (click)="hide = !hide;$event.stopPropagation()" mat-icon-button matSuffix>
                    <mat-icon>{{hide ? 'visibility_off':'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Nueva contraseña</mat-label>
                <input matInput type="password" formControlName="nuevo_password" required>
                <!-- <button type="button" (click)="hide = !hide; $event.stopPropagation()" mat-icon-button matSuffix>
                    <mat-icon>{{hide ? 'visibility_off':'visibility'}}</mat-icon>
                </button> -->
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button (click)="form.ngSubmit.emit()" [disabled]="form.invalid">Ok</button>
    </mat-card-actions>
</mat-card>