<mat-form-field>
  <!-- fxLayoutAlign.lt-md="end end" -->
  <!-- appearance="outline" -->
    <mat-label>Filtrar por:</mat-label>
    <!-- <mat-select [value]="opcionElegida" (selectionChange)="seleccionarOpcion($event.value)">
      <mat-option [value]="'Todos'">Todos</mat-option>
      <mat-option *ngFor="let opcion of opciones" [value]="opcion.nombre_">{{opcion.nombre_}}</mat-option>
    </mat-select> -->
    <mat-select [value]="defaultValue" (selectionChange)="seleccionarOpcion($event.value)">      
      <mat-option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</mat-option>
    </mat-select>
  </mat-form-field>