<!-- 
<span>{{data.titulo}}</span>
<mat-dialog-content>
  <div fxLayout.gt-sm="row wrap" fxLayout.lt-md="column">
    <div  *ngFor="let docente of docentes" fxFlex="50">      
      <mat-checkbox (change)="asignarJurado($event,docente)" [checked]="docente.jurado" color="primary">{{ docente.nombre }}</mat-checkbox>      
    </div>        
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="1">
    ¡Listo!
  </button>
</mat-dialog-actions> -->

<span>{{data.titulo}}</span>
<mat-dialog-content >
  <div fxLayout.gt-sm="row wrap" fxLayout.lt-md="column">
    <div *ngFor="let docente of docentes" fxFlex="50">
      <mat-checkbox (change)="asignarJurado($event,docente)" [checked]="docente.jurado" color="primary">
        {{ docente.nombreCompleto }}</mat-checkbox>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="1">
    ¡Listo!
  </button>
</mat-dialog-actions>