<mat-table [dataSource]="dataSource">
    <ng-container
        [matColumnDef]="column"
        *ngFor="let column of objectKeys(columnsHeader)"
    >
        <mat-header-cell
            *matHeaderCellDef
            fxShow
            [fxHide.xs]="!(column === 'acciones')"
            [ngClass]="{'align-right': (column==='acciones')}"
        >
            <ng-container [ngSwitch]="true">
                <div *ngSwitchCase="column === 'acciones'">
                    <button
                        mat-mini-fab
                        color="primary"
                        aria-label="Agregar nuevo registro"
                        title="Agregar nuevo registro"
                        (click)="agregarRegistro()"
                    >
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div *ngSwitchDefault>{{columnsHeader[column]}}</div>
            </ng-container>
        </mat-header-cell>
        <mat-cell
            *matCellDef="let data"
            [ngClass]="{'align-right': column==='acciones'}"
        >
            <span class="mobile-label">{{columnsHeader[column]}}</span>
            <ng-container [ngSwitch]="column">
                <ng-container *ngSwitchCase="'acciones'">
                    <button
                        mat-icon-button
                        [matMenuTriggerFor]="menu"
                        aria-label="Menu with button"
                        (click)="$event.stopPropagation()"
                    >
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button
                            mat-menu-item
                            (click)="emitirData(data,'Eliminar')"
                        >
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                        <ng-container *ngIf="data.roles">
                            <button
                                mat-menu-item
                                [matMenuTriggerFor]="menuRoles"
                                aria-label="Menu with button"
                                (click)="$event.stopPropagation()"
                                *ngxPermissionsOnly="['Administrador']"
                            >
                                <mat-icon>group</mat-icon>
                                <span>Agregar rol</span>
                            </button>
                            <mat-menu
                                #menuRoles="matMenu"
                                xPosition="before"
                            >
                                <mat-checkbox
                                    class="mat-menu-item"
                                    (change)="emitirData(data,$event,rol.nombre_)"
                                    [checked]="rol.is"
                                    *ngFor="let rol of data.roles"
                                    (click)="$event.stopPropagation()"
                                >
                                    {{rol.nombre_ }}
                                </mat-checkbox>
                            </mat-menu>
                        </ng-container>
                        <ng-container *ngIf="data.no_foro">
                            <a
                                mat-menu-item
                                [routerLink]="['proyectos',data.slug]"
                            >
                                <mat-icon>book</mat-icon>
                                <span>Proyectos</span>
                            </a>
                            <a
                                mat-menu-item
                                [routerLink]="['configurar-foro',data.slug]"
                                *ngIf="data.canActivate"
                            >
                                <mat-icon>settings</mat-icon>
                                <span>Config. Foro</span>
                            </a>
                        </ng-container>
                        <ng-container *ngIf="data.Grupo">
                            <a
                                mat-menu-item
                                [routerLink]="['grupos',data.id]"
                            >
                                <mat-icon>groups</mat-icon>
                                <span>Grupos</span>
                            </a>
                        </ng-container>
                        <ng-container *ngIf="data.Concepto">
                            <a
                                mat-menu-item
                                [routerLink]="['conceptos',data.id]"
                            >
                                <mat-icon>article</mat-icon>
                                <span>Conceptos</span>
                            </a>
                        </ng-container>
                        <ng-container *ngIf="data.fecha">
                            <button
                                mat-menu-item
                                (click)="emitirData(data,'Break')"
                            >
                                <mat-icon>free_breakfast</mat-icon>
                                <span>Agregar receso</span>
                            </button>
                        </ng-container>
                    </mat-menu>
                </ng-container>
                <ng-container *ngSwitchCase="'acceso'">
                    <mat-icon
                        class="icon-check text-content"
                        [ngClass]="{'verificado': data[column] == 1,'error':data[column] == 0}"
                    >
                        {{data[column] == 1 ? 'verified_user':'error'}}
                    </mat-icon>
                </ng-container>
                <ng-container *ngSwitchCase="'activo'">
                    <mat-slide-toggle
                        color="warn"
                        (change)="emitirData(data,'Activar/Desactivar',!data.activo)"
                        (click)="$event.stopPropagation()"
                        [checked]="data.activo ? 'true':'false'"
                        [disabled]="!data.canActivate"
                    ></mat-slide-toggle>
                </ng-container>
                <ng-container *ngSwitchCase="'participa'">
                    <mat-checkbox
                        class="text-content"
                        color="warn"
                        (change)="emitirData(data,$event)"
                        (click)="$event.stopPropagation()"
                        [checked]="data.participa"
                    ></mat-checkbox>
                </ng-container>
                <ng-container *ngSwitchCase="'jurado'">
                    <div fxLayout="column" class="text-content" fxLayoutGap="6px">
                        <span *ngFor="let docente of data.jurado">
                            {{docente.nombreCompleto}}
                        </span>
                    </div>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <span class="text-content">{{data[column] }}</span>
                </ng-container>
            </ng-container>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="objectKeys(columnsHeader)"></mat-header-row>
    <mat-row
        *matRowDef="let data; columns: objectKeys(columnsHeader);"
        (click)="abrirDialog(data)"
        ></mat-row>
</mat-table>
<div
    *ngIf="!dataSource.total"
    class="center-message"
>
    No se ha encontrado ningún registro
</div>
