@media(min-width:600px) {
    .mat-column-acceso{
        max-width: 12%;        
    }
    .mat-column-num_control{
        max-width: 18%;
    }
    .mat-column-activo{
        /* max-width: 8%; */
    }
    .mat-column-nombreCompleto, .mat-column-titulo{
        /* max-width: 82%; */
        padding-right: 16px;
    }
    .mat-column-email{        
        /* max-width: 40%;
        display: block; */
    }
    .mat-column-acciones,  
    .mat-column-folio{
        /* .mat-column-no_foro, */
        max-width: 12%;
        /* align-items: flex-end; */
        /* max-width: initial; */
    }
    .mat-column-clave{
        max-width: 30%;
        padding-right: 12px;
    }
    .mat-column-nombre, .mat-column-clave, .mat-column-nombreCompleto{
        /* padding-right: 14px; */
    }
    .mat-column-titulo{
        padding: 0 14px;
    }
    .mat-column-nombre{
        max-width: 60%;
        /* max-width: max-content; */
    }
    .mat-column-periodo{
        /* max-width: 18%; */
    }
    .mat-column-anio{
        /* max-width: 15%; */
    }
    .mat-column-participa{
        max-width: 8%
    }
}
@media (min-width: 600px) and (max-width: 850px){
    .mat-column-email{
        display: none;
    }
}
/* .verificado {
    color: green;
}

.error {
    color: red;
} */

.icon-check {
    font-size: 18px;
}

.align-right {
    display: flex;    
    justify-content: flex-end;
}




.mat-card{
    padding: 0 !important;
}