.content-header{
    /* padding: 0 .5rem; */
    width:100%
}
.mat-toolbar{    
    /* background-color: transparent !important; */
    /* border-bottom: solid; */
    width: 100%;
}
span{
    font-size: 16px;
    font-weight: 600;
}
.content-filtro{
    border-radius:9999px;
    background-color: #ffff;
    height: 42px;
    padding: .2rem 1rem;    
    /* align-items: center; */
}
input{
    width: 100%;
    border:none
}

input:focus{
    outline: none;
}

:host {
    width: 100%;
    /* flex:1; */
}
