<mat-toolbar>
  <div class="content-header" fxLayoutAlign="start center">
    <h2 style="margin-right: 1rem; padding-right: 1rem; border-right-width: 2px !important;" fxShow fxHide.xs>{{title}}
    </h2>
    <!-- class="content-header" fxLayout="row"  -->

    <!-- <div class="content-filtro" fxFlex="50" fxFlex.xs="75" fxLayoutAlign="start center"> -->
      <ng-content>

      </ng-content>
    <!-- </div> -->

    <!-- <div class="content-filtro" fxFlex="50" fxFlex.xs="75" fxLayoutAlign="start center">
        <mat-icon matPrefix>search</mat-icon>
        <input placeholder="No. de foro" #inputFiltro />        
      </div>
      <div fxFlex fxLayoutAlign="end end">        
        s
      </div> -->
  </div>
</mat-toolbar>