<!-- <mat-toolbar style="background-color: #0D47A1; color: white;"> -->
  <mat-toolbar>
<!-- <mat-toolbar style="background-color: white; color: black;"> -->
  <!-- <div fxLayout="row" class="content-header" > -->
    <!-- fxLayoutAlign="start  center" -->
    <!-- fxHide.xs -->
    <div>
      <span style="margin-right: 1rem;  border-right-width: 2px !important;" fxShow>{{title | uppercase }}</span>
    </div>
    <!-- class="content-header" fxLayout="row"  -->
    <ng-content></ng-content>
</mat-toolbar>
<mat-divider></mat-divider>