.content-header{
    /* padding: 0 .5rem; */
    width:100%
}
.mat-toolbar{
    background-color: #EBEBEE;    
    width: 100%;
}
.content-filtro{
    border-radius:9999px;
    background-color: #ffff;
    height: 42px;
    padding: .2rem 1rem;    
    /* align-items: center; */
}
input{
    width: 100%;
    border:none
}

input:focus{
    outline: none;
}

:host {
    width: 100%;
}