.mat-dialog-content{    
    font-size: 13px;    
}
.container{    
}
.mat-dialog-content{
    margin:0;
    padding-top:14px
}
span{
    /* margin-bottom:5% !important; */
    font-size: 15px;
    font-weight: bold;
    /* padding:10px; */
}