<!-- <div class="barra">
  <mat-toolbar color="primary">
    <span>title</span>
  </mat-toolbar>
</div> -->
<mat-dialog-content>
  <span>{{data['proyecto'].titulo}}</span>
  <div class="container" fxLayout.gt-sm="row wrap" fxLayout.lt-md="column">       
    <div *ngFor="let docente of this.data['docentes']" fxFlex="50">      
      <mat-checkbox (change)="asignarJurado($event,docente)" [checked]="docente.jurado" color="primary">{{ docente.nombre }}</mat-checkbox>      
    </div>        
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button [mat-dialog-close]="1">
    ¡Listo!
  </button>
</mat-dialog-actions>
