




<div
    fxLayout="column"
    fxLayoutGap="12px"
>
    <div
        fxLayout.xs="column"
        fxLayout="row"
        fxLayoutGap="12px"
    >
        <div fxFlex.gt-xs="50">
            <div
                class="content-filtro"
                fxLayoutAlign="end center"
            >
                <mat-icon matPrefix>search</mat-icon>
                <input
                    class="input-filter"
                    placeholder="Número de folio"
                    #inputFiltro
                >
            </div>


        </div>
        <div
            fxFlex.gt-xs="50"
            fxLayoutAlign="end end"
        >
            <app-filtro
                [opciones]="opciones"
                [defaultValue]="'Aceptados'"
                [placeholder]="'Estatus'"
                (opcionElegida)="filtroElegido=$event; getProyectos()"
            ></app-filtro>
        </div>
    </div>
    <div fxFlex="100">
        <mat-card>
            <mat-card-content>
                <app-table
                    [dataSource]="dataSource"
                    [columnsHeader]="columnsHeader"
                    [componentDialog]="componentDialog"
                    (emitData)="cargarTable($event)"
                ></app-table>
                <mat-paginator
                    [length]="dataSource.total"
                    [pageSize]="dataSource.por_pagina"
                    showFirstLastButtons
                >
                </mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
</div>
