<!-- <mat-table [dataSource]="proyectosDataSource">
  <ng-container matColumnDef="folio">
    <mat-header-cell *matHeaderCellDef > Folio </mat-header-cell>
    <mat-cell *matCellDef="let proyecto">
      <span class="mobile-label">Folio</span>
      <span class="text-content">{{ proyecto.folio }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="titulo">
    <mat-header-cell *matHeaderCellDef > Titulo</mat-header-cell>
    <mat-cell *matCellDef="let proyecto">
      <span class="mobile-label">Titulo</span>
      <span class="text-content">{{ proyecto.titulo }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="participa">
    <mat-header-cell *matHeaderCellDef> Participa</mat-header-cell>
    <mat-cell *matCellDef="let proyecto">
      <span class="mobile-label">Acciones</span>
      <mat-checkbox
        color="primary"
        (change)="participa($event, proyecto.folio)"
        [checked]="proyecto.participa"
      ></mat-checkbox>
      <button mat-icon-button (click)="abrirDialog(proyecto)"><mat-icon>supervisor_account</mat-icon></button>
        <div *ngFor="let docente of proyectosDataSource.getDocentes()">
          <mat-checkbox>{{docente.Nombre}}</mat-checkbox>
        </div>                
      </mat-menu> 

    </mat-cell>
  </ng-container>

  a-md-data-table-column

  <mat-header-row *matHeaderRowDef="displayedColumns" fxShow fxHide.xs></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
</mat-table>
<mat-spinner
  *ngIf="proyectosDataSource.spinnerValue() | async"
  diameter="50"
  class="table-loading"
></mat-spinner> -->
<mat-card>
  <app-table [dataSource]="dataSource" [columnsHeader]="columnsHeader" [componentDialog]="componentDialog"
    (emitData)="cargarTable($event)"></app-table>
  <mat-paginator [length]="dataSource.total" [pageSize]="dataSource.por_pagina" showFirstLastButtons></mat-paginator>
</mat-card>