<!-- <mat-table [dataSource]="proyectosDataSource">
  <ng-container matColumnDef="folio">
    <mat-header-cell *matHeaderCellDef > Folio </mat-header-cell>
    <mat-cell *matCellDef="let proyecto">
      <span class="mobile-label">Folio</span>
      <span class="text-content">{{ proyecto.folio }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="titulo">
    <mat-header-cell *matHeaderCellDef > Titulo</mat-header-cell>
    <mat-cell *matCellDef="let proyecto">
      <span class="mobile-label">Titulo</span>
      <span class="text-content">{{ proyecto.titulo }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="participa">
    <mat-header-cell *matHeaderCellDef> Participa</mat-header-cell>
    <mat-cell *matCellDef="let proyecto">
      <span class="mobile-label">Acciones</span>
      <mat-checkbox
        color="primary"
        (change)="participa($event, proyecto.folio)"
        [checked]="proyecto.participa"
      ></mat-checkbox>
      <button mat-icon-button (click)="abrirDialog(proyecto)"><mat-icon>supervisor_account</mat-icon></button>
        <div *ngFor="let docente of proyectosDataSource.getDocentes()">
          <mat-checkbox>{{docente.Nombre}}</mat-checkbox>
        </div>                
      </mat-menu> 

    </mat-cell>
  </ng-container>

  a-md-data-table-column

  <mat-header-row *matHeaderRowDef="displayedColumns" fxShow fxHide.xs></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
</mat-table>
<mat-spinner
  *ngIf="proyectosDataSource.spinnerValue() | async"
  diameter="50"
  class="table-loading"
></mat-spinner> -->
<mat-card>
  <mat-card-header style="background-color: #EBEBEE;" fxLayoutGap="12px">
    <!-- <app-card-header [title]="'Proyectos'"> -->
      <div fxFlex fxLayoutAlign="start center">
        <h2 style="margin:0 !important">Proyectos</h2>
      </div>
      <!-- <div fxFlex="50" class="content-filtro"  fxLayoutAlign="start center">
        <mat-icon matPrefix>search</mat-icon>
        <input class="input-filter" placeholder="Número de folio" #inputFiltro />
      </div> -->
      <div class="content-filtro" fxFlex="50" fxFlex.xs="75" fxLayoutAlign="start center">
        <mat-icon matPrefix>search</mat-icon>
        <input class="input-filter" placeholder="Número de control" #inputFiltro />
      </div>
      <div fxFlex fxLayoutAlign="end end">
        <button mat-icon-button [matMenuTriggerFor]="filtros">
          <mat-icon aria-label="label">filter_list</mat-icon>
        </button>
        <mat-menu #filtros="matMenu" xPosition="before">
          <!-- <mat-checkbox *ngFor="let rol of roles" (change)="seleccionarRol(rol.nombre)"
            [checked]="rolSeleccionado === rol.nombre" class="mat-menu-item" (click)="$event.stopPropagation()">
            {{ rol.nombre }}
          </mat-checkbox> -->
        </mat-menu>
      </div>
    <!-- </app-card-header> -->
  </mat-card-header>
  <mat-card-content>
  <app-table [dataSource]="dataSource" [columnsHeader]="columnsHeader" [componentDialog]="componentDialog"
    (emitData)="cargarTable($event)"></app-table>
  <mat-paginator [length]="dataSource.total" [pageSize]="dataSource.por_pagina" showFirstLastButtons></mat-paginator>
</mat-card-content>
</mat-card>