<div fxLayout="column">
    <app-alerta [mensaje]="'Considere definir bien las fechas y no modificarlas. 
    En caso de cualquier modificación o agregar fecha, tendrá que elegir de nuevo 
    el horario de todos los docentes'"></app-alerta>
    <ng-container *ngIf="data.data; else nuevoRegistro">
        <h2 mat-dialog-title>Editando registro</h2>
        <br>
    </ng-container>
    <ng-template #nuevoRegistro>
        <h2>Nuevo registro</h2>
    </ng-template>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
    <form
        [formGroup]="formFechaForo"
        #form="ngForm"
        (ngSubmit)="!editar ? guardarFechaForo():actualizarFechaForo()"
    >
        <mat-form-field appearance="fill">
            <mat-label>Fecha</mat-label>
            <input
                matInput
                type="date"
                [min]="hoy"
                formControlName="fecha"
                required
            >
            <mat-error *ngIf="formFechaForo.get('fecha').hasError('required')">El campo fecha es obligatorio</mat-error>
            <mat-error *ngIf="formFechaForo.get('fecha').hasError('serverError')">
                {{ formFechaForo.get('fecha').errors?.serverError }}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Hora de inicio</mat-label>
            <input
                type="time"
                matInput
                formControlName="hora_inicio"
                required
            >
            <mat-error *ngIf="formFechaForo.get('hora_inicio').hasError('required')">El campo hora inicio es obligatorio</mat-error>
            <mat-error *ngIf="formFechaForo.get('hora_inicio').hasError('serverError')">
                {{ formFechaForo.get('hora_inicio').errors?.serverError }}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Hora de termino</mat-label>
            <input
                type="time"
                matInput
                formControlName="hora_termino"
                required
            >
            <mat-error *ngIf="formFechaForo.get('hora_inicio').hasError('required')">El campo hora termino es obligatorio</mat-error>
            <mat-error *ngIf="formFechaForo.get('hora_termino').hasError('serverError')">
                {{ formFechaForo.get('hora_termino').errors?.serverError }}
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<app-buttons [form]="form"></app-buttons>
