<div fxLayout="row" fxLayoutGap="24px">
    <mat-icon class="icon-xg">free_breakfast</mat-icon>
    <h2 mat-dialog-title>Elige los intervalos</h2>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
    <div
    fxLayout.gt-sm="column"
    fxLayout.lt-md="column"
    >
        <div
            *ngFor="let intervalo of data.intervalos; let i = index"
            fxFlex="100"
        >
            <mat-checkbox
                class="mat-list-item"
                (change)="guardarBreak($event, intervalo)"
                color="primary"
                value="{{ intervalo.posicion }}"
                [checked]="intervalo.break"
            >
                {{ intervalo.hora }}
            </mat-checkbox>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button
        mat-button
        [mat-dialog-close]="1"
    >
        ¡Listo!
    </button>
</mat-dialog-actions>
