<div fxLayout="column">
    <div
        fxLayout.xs="column"
        fxLayout="row"
        fxLayoutGap="12px"
        fxLayoutAlign="start center"
        fxLayoutAlign.xs="center start"
        class="main-container-header"
        >
        <!-- style="background-color: #0d47a1;  min-height: 100px; max-height: 100px; margin:-24px -24px 20px; padding:24px; top:64px; position: sticky; z-index: 2;" -->
        <div
            fxFlex="30"
            style="color:white"
            fxLayoutAlign="start center"
            fxLayoutGap="12px"
        >
            <mat-icon>
                {{title === 'Roles' ? 'supervised_user_circle':'category'}}
            </mat-icon>
            <mat-card-title class="font-600">{{title | uppercase}}</mat-card-title>
        </div>
    </div>
    <mat-card>
        <mat-card-content>
            <app-table
                [dataSource]="dataSource"
                [columnsHeader]="columnsHeader"
                [componentDialog]="componentDialog"
                (emitData)="cargarTable($event)"
                [url]="url"
            ></app-table>
        </mat-card-content>
    </mat-card>
</div>
