<div fxLayout="row" fxLayoutGap="12px">
  <div fxFlex.lt-md="70" fxFlex="100">
    <mat-form-field>
      <!-- <mat-label>No. de control</mat-label> -->
      <input matInput placeholder="No. de control" #inputFiltro />
    </mat-form-field>
  </div>
  <div fxFlex fxHide fxShow.lt-md fxLayoutAlign="end center">
    <button mat-icon-button [matMenuTriggerFor]="filtros">
      <mat-icon aria-label="label">filter_list</mat-icon>
    </button>
    <mat-menu #filtros="matMenu" xPosition="before">
      <mat-checkbox *ngFor="let rol of roles" (change)="seleccionarRol(rol.nombre)"
        [checked]="rolSeleccionado === rol.nombre" class="mat-menu-item" (click)="$event.stopPropagation()">
        {{ rol.nombre }}
      </mat-checkbox>
    </mat-menu>
  </div>
</div>
<div fxLayout="row" fxLayoutGap="12px">
  <div fxFlex="35" fxShow fxHide.lt-md>
    <mat-card>
      <mat-selection-list>
        <mat-list-option [selected]="rolSeleccionado === rol.nombre" (click)="seleccionarRol(rol.nombre)"
          *ngFor="let rol of roles">{{ rol.nombre }}</mat-list-option>
      </mat-selection-list>
    </mat-card>
  </div>
  <div fxFlex>
    <mat-card>
      <app-table [dataSource]="dataSource" [componentDialog]="componentDialog" [columnsHeader]="columnsHeader"
        (emitData)="cargarTable($event)">
      </app-table>
      <mat-paginator [length]="dataSource.total" [pageSize]="dataSource.por_pagina" showFirstLastButtons>
      </mat-paginator>
    </mat-card>
  </div>
</div>