<!-- <div fxLayout="row" fxLayoutGap="12px">
  <div fxFlex.lt-md="70" fxFlex="100">
    <mat-form-field>
      <input matInput placeholder="No. de control" #inputFiltro />
    </mat-form-field>
  </div>
  <div fxFlex fxHide fxShow.lt-md fxLayoutAlign="end center">
    <button mat-icon-button [matMenuTriggerFor]="filtros">
      <mat-icon aria-label="label">filter_list</mat-icon>
    </button>
    <mat-menu #filtros="matMenu" xPosition="before">
      <mat-checkbox *ngFor="let rol of roles" (change)="seleccionarRol(rol.nombre)"
        [checked]="rolSeleccionado === rol.nombre" class="mat-menu-item" (click)="$event.stopPropagation()">
        {{ rol.nombre }}
      </mat-checkbox>
    </mat-menu>
  </div>
</div>
<div fxLayout="row" fxLayoutGap="12px">
  <div fxFlex="35" fxShow fxHide.lt-md>
    <mat-card>
      <mat-card-content>
        <mat-selection-list>
          <mat-list-option [selected]="rolSeleccionado === rol.nombre" (click)="seleccionarRol(rol.nombre)"
            *ngFor="let rol of roles">{{ rol.nombre }}</mat-list-option>
        </mat-selection-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex>
    <mat-card>
      <mat-card-header>
        <mat-toolbar>
          <button mat-icon-button [matMenuTriggerFor]="filtros">
            <mat-icon aria-label="label">filter_list</mat-icon>
          </button>
          <mat-menu #filtros="matMenu" xPosition="before">
            <mat-checkbox *ngFor="let rol of roles" (change)="seleccionarRol(rol.nombre)"
              [checked]="rolSeleccionado === rol.nombre" class="mat-menu-item" (click)="$event.stopPropagation()">
              {{ rol.nombre }}
            </mat-checkbox>
          </mat-menu>
        </mat-toolbar>
      </mat-card-header>
      <mat-card-content>
        <app-table [dataSource]="dataSource" [componentDialog]="componentDialog" [columnsHeader]="columnsHeader"
          (emitData)="cargarTable($event)">
        </app-table>
        <mat-paginator [length]="dataSource.total" [pageSize]="dataSource.por_pagina" showFirstLastButtons>
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->

<!-- <div style="background-color: #0D47A1; height: 160px; min-height: 160px; max-height: 160px; margin:-24px; padding:24px" >
  <div fxFlex="30" style="height: max-content;"> 
    <h2 style="color:white">Usuarios</h2>
  </div>
  <div class="content-filtro" fxFlex="50" fxFlex.xs="75" fxLayoutAlign="end center">
    <mat-icon matPrefix>search</mat-icon>
    <input class="input-filter" placeholder="Número de control" #inputFiltro />
  </div>
</div> -->
<!-- <mat-card style="margin-top:-75px"> -->
  <mat-card>
  <mat-card-header>
    <app-card-header [title]="'Usuarios'">
      <div class="content-filtro" fxFlex="50" fxFlex.xs="75" fxLayoutAlign="start center">
        <mat-icon matPrefix>search</mat-icon>
        <input class="input-filter" placeholder="Número de control" #inputFiltro />
      </div>
      <div fxFlex fxLayoutAlign="end end">
        <button mat-icon-button [matMenuTriggerFor]="filtros">
          <mat-icon aria-label="label">filter_list</mat-icon>
        </button>
        <mat-menu #filtros="matMenu" xPosition="before">
          <mat-checkbox *ngFor="let rol of roles" (change)="seleccionarRol(rol.nombre)"
            [checked]="rolSeleccionado === rol.nombre" class="mat-menu-item" (click)="$event.stopPropagation()">
            {{ rol.nombre }}
          </mat-checkbox>
        </mat-menu>
      </div>
    </app-card-header>
    <!-- <mat-toolbar>
      <div class="content-header" fxLayoutAlign="start center">
        <h2 style="margin-right: 1rem; padding-right: 1rem; border-right-width: 2px !important;" fxShow fxHide.xs>Usuarios</h2>                 
        <div class="content-filtro" fxFlex="50" fxFlex.xs="75" fxLayoutAlign="start center">
          <mat-icon matPrefix>search</mat-icon>
          <input placeholder="No. de control" #inputFiltro />
        </div>
        <div fxFlex fxLayoutAlign="end end">
          <button mat-icon-button [matMenuTriggerFor]="filtros">
            <mat-icon aria-label="label">filter_list</mat-icon>
          </button>
          <mat-menu #filtros="matMenu" xPosition="before">
            <mat-checkbox *ngFor="let rol of roles" (change)="seleccionarRol(rol.nombre)"
              [checked]="rolSeleccionado === rol.nombre" class="mat-menu-item" (click)="$event.stopPropagation()">
              {{ rol.nombre }}
            </mat-checkbox>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar> -->
  </mat-card-header>
  <mat-card-content>
    <app-table [dataSource]="dataSource" [componentDialog]="componentDialog" [columnsHeader]="columnsHeader"
      (emitData)="cargarTable($event)">
    </app-table>
    <mat-paginator [length]="dataSource.total" [pageSize]="dataSource.por_pagina" showFirstLastButtons>
    </mat-paginator>
  </mat-card-content>
</mat-card>