:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.icon-lock{
    font-size: xxx-large !important;
    height: auto;
    width: auto;
    color: white;
}
.content-icon{
    width: 100px;
    height: 100px;
    background-color: #3F51B5;
    border-radius: 50%;
    margin: 0 auto;
}
.mat-dialog-content{
    text-align: center;
}