<mat-dialog-content>
    <div class="content-icon" fxLayoutAlign="center center">
        <mat-icon class="icon-lock">lock_open</mat-icon>
    </div>
    <h2 mat-dialog-title>Restablecer contraseña</h2>
    <h4>Ingrese su correo electrónico para recuperar la contraseña.</h4>
    
    <form [formGroup]="formEmail" (ngSubmit)="enviarPassword()" #form="ngForm">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" required>
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button (click)="form.ngSubmit.emit()" mat-raised-button color="primary">Restablecer contraseña</button>
</mat-dialog-actions>