<!-- <div *ngFor="let item of notificaciones">
{{item.proyecto.titulo}}
</div> -->
<!-- <div fxLayout="row wrap"> -->

<div fxLayout="row" fxLayoutGap="20px">
    <mat-form-field fxFlex="20" appearance="outline" fxLayoutAlign="end start">
        <mat-label>Filtrar por:</mat-label>
        <mat-select >
            <!-- [value]="rolSeleccionado"  -->
            <!-- (selectionChange)="seleccionarRol($event.value)" -->
            <mat-option [value]="'Todos'">Todos</mat-option>
            <!-- <mat-option *ngFor="let rol of roles" [value]="rol.nombre_">{{rol.nombre_}}</mat-option> -->
        </mat-select>
    </mat-form-field>
    <div *ngFor="let notificacionKey of _notificacionesService.notificaciones?.data | keyvalue">
        <h2> {{notificacionKey.key}} </h2>
        <div fxLayout="row wrap">
            <mat-card fxFlex.gt-sm="45" fxFlex.xs="100" *ngFor="let notificacion of notificacionKey.value "
                style="margin: 10px !important; ">
                <!-- border-left:10px solid -->
                <!-- [style.border-color]="notificacion.respuesta ? 'green': notificacion.respuesta == null ? 'white':'red'" -->
                <mat-card-header fxLayout="column">
                    <mat-card-title style="font-size: 12px;">{{notificacion.proyecto.titulo}}</mat-card-title>
                    <div fxLayout="row" fxLayoutGap="12px">
                        <!-- fxLayoutAlign="start center" -->
                        <div fxFlex="40" style=" border-radius: 999px; height: max-content; padding:3px 0; color:white"
                            fxLayoutAlign="center center"
                            [style.background-color]="notificacion.respuesta ? 'green': notificacion.respuesta == null ? '#0D47A1':'red'">                            
                            <span
                                class="font-600">{{notificacion.respuesta ? 'Aceptado': notificacion.respuesta == null ? 'Sin respuesta':'Rechazado'}}</span>
                        </div>
                        <div fxFlex="60">
                            <mat-card-subtitle>
                                <span>Folio: {{notificacion.proyecto.folio}}</span><br>
                                <div fxLayoutGap="12px" fxLayoutAlign="start center">
                                    <!-- Fecha de registro: -->
                                    <mat-icon>calendar_today</mat-icon>
                                    <span>{{notificacion.fecha}}</span>
                                </div>
                            </mat-card-subtitle>
                        </div>
                    </div>

                </mat-card-header>
                <mat-divider>
                </mat-divider>
                <mat-card-content>

                    <div *ngIf="notificacion.nuevo_titulo">
                        <!-- {{notificacion.nuevo_titulo}} -->
                        <span style="font-size: 14px;" class="font-600">NUEVO TITULO:</span><br>
                        <span style="font-size: 12px;">{{notificacion.nuevo_titulo}}</span>
                    </div>
                    <p>{{notificacion.motivo }}</p>
                    <p>{{notificacion.motivo ? notificacion.motivo:'Sin comentarios' }}</p>
                </mat-card-content>
                <mat-card-actions align="end" *ngIf="notificacion.respuesta ===null">
                    <button mat-button *ngIf="!notificacion.respuesta || notificacion.respuesta == null"
                        (click)="responder(notificacion,notificacionKey.key)">
                        <mat-icon style="color: green;">check</mat-icon>
                        Aceptar
                    </button>
                    <button mat-button *ngIf="notificacion.respuesta || notificacion.respuesta == null"
                        (click)="responder(notificacion,notificacionKey.key)">
                        <mat-icon color="warn">close</mat-icon>
                        Rechazar
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</div>
<!-- <mat-card *ngFor="let notificacion of _notificacionesService.notificaciones | keyvalue" fxFlex="30" fxFlex.xs="100"
        style="margin: 10px !important; border-left:10px solid"
        [style.border-color]="notificacion.respuesta ? 'green':'red'">        
        <mat-card-content>
            <div *ngFor="let items of notificacion.value ">
                {{items}}
            </div>
            <mat-icon>book</mat-icon>
            <mat-card-title style="font-size: 12px;">{{notificacion.proyecto.titulo}}</mat-card-title>
            <mat-card-subtitle>
                <span>Folio: {{notificacion.proyecto.folio}}</span><br>
                <span>llslslsls</span>
            </mat-card-subtitle>


            <div fxFlex="15" fxHide.sm fxLayoutAlign="center center">
                <mat-icon>book</mat-icon>
            </div>
            <div fxFlex="60" style="padding-left:0px" fxLayout="column" fxLayoutAlign="center start">
                <mat-card-title>{{item.proyecto.titulo}}</mat-card-title>
                <mat-card-subtitle>{{item.proyecto.folio}}</mat-card-subtitle>
            </div>
        
        
        </mat-card-content>
        <mat-card-actions align="end">         
            <button mat-button *ngIf="!notificacion.respuesta" (click)="responder(notificacion)">
                <mat-icon style="color: green;">check</mat-icon>
                Aceptar
            </button>            
            <button mat-button *ngIf="notificacion.respuesta" (click)="responder(notificacion)">
                <mat-icon color="warn">close</mat-icon>
                Rechazar
            </button>
        </mat-card-actions>
    </mat-card> -->
<!-- </div> -->