.green {
  color: green;
}

/* and (max-width:959px) */
@media(min-width: 960px) {
  .mat-column-no_foro {
    min-width: 10% !important;
    max-width: 10% !important;
  }
  .mat-column-nombre{
    min-width: 40% !important;
    max-width: 40% !important;
    /* padding: 0 12px; */
  }
  .mat-column-periodo{
    min-width: 15% !important;
    max-width: 15% !important;
  }
  .mat-column-anio{
    min-width: 10% !important;
    max-width: 10% !important;
  }
  .mat-column-acciones{
    min-width: 20% !important;
    max-width: 20% !important;
  }
}
