<mat-progress-bar value="50" mode="indeterminate" *ngIf="cargando; else configuracionForo" class="table-loading">
</mat-progress-bar>
<ng-template #configuracionForo>
  <div class="container">
    <div class="mat-card-title">
      {{ foro.nombre | uppercase }}
    </div>
    <div class="mat-card-subtitle">{{ foro.periodo }} {{ foro.anio }}</div>
  </div>

  <div [ngStyle.gt-xs]="{ 'padding.px': 20 }" fxLayout.gt-xs="row" fxLayout="column"
    fxLayoutGap="70px">
    <div fxFlex="20">
      <form [formGroup]="formConfigForo" (ngSubmit)="submitConfigForo()">
        <div class="mat-card-title">Configuración</div>
        <mat-form-field>
          <input type="number" matInput formControlName="lim_alumnos" placeholder="Número de alumnos por proyecto" />
          <mat-error *ngIf="formConfigForo.get('lim_alumnos').hasError('required')">El limite de alumnos por proyecto es
            requerido</mat-error>
          <mat-error *ngIf="formConfigForo.get('lim_alumnos').hasError('min')">El limite de alumnos por proyecto debe
            ser mayor a 0</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="number" matInput formControlName="duracion" placeholder="Duración de exposición" />
          <mat-error *ngIf="formConfigForo.get('duracion').hasError('required')">El tiempo de exposición es requerido
          </mat-error>
          <mat-error *ngIf="formConfigForo.get('duracion').hasError('min')">El tiempo de exposición debe ser igual o
            mayor a 15</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="number" matInput formControlName="num_aulas" placeholder="Número de aulas para el foro" />
          <mat-error *ngIf="formConfigForo.get('num_aulas').hasError('required')">El número de aulas es requerido
          </mat-error>
          <mat-error *ngIf="formConfigForo.get('num_aulas').hasError('min')">El número de aulas debe ser mayor a 1
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="number" matInput formControlName="num_maestros" placeholder="Número de maestros en el jurado" />
          <mat-error *ngIf="formConfigForo.get('num_maestros').hasError('required')">El número de maestros en el jurado
            es requerido</mat-error>
          <mat-error *ngIf="formConfigForo.get('num_maestros').hasError('min')">El número de maestros en el jurado debe
            ser mayor a 1</mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end center">
          <button mat-raised-button color="primary" [disabled]="formConfigForo.invalid">
            Guardar
          </button>
        </div>
      </form>
    </div>
    <div fxFlex>
      <div class="mat-card-title">Fechas</div>
      <!-- <div class="example-container"> -->
      <mat-table [dataSource]="fechasDataSource">
        <ng-container matColumnDef="fecha">
          <mat-header-cell *matHeaderCellDef fxShow fxHide.xs> Fecha </mat-header-cell>
          <mat-cell *matCellDef="let fecha">
            <span class="mobile-label">Fecha:</span>
            {{ fecha.fecha }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="hora_inicio">
          <mat-header-cell *matHeaderCellDef fxShow fxHide.xs> Hora de inicio</mat-header-cell>
          <mat-cell *matCellDef="let fecha">
            <span class="mobile-label">Hora de inicio:</span>
            {{ fecha.hora_inicio }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="hora_termino">
          <mat-header-cell *matHeaderCellDef fxShow fxHide.xs> Hora de termino</mat-header-cell>
          <mat-cell *matCellDef="let fecha">
            <span class="mobile-label">Hora de termino:</span>
            {{ fecha.hora_termino }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef fxLayoutAlign.xs="end center">
            <!-- Acciones -->
            <button mat-icon-button (click)="openDialog()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let fecha">
            <span class="mobile-label">Acciones</span>
            <button color="primary" mat-icon-button aria-label="Edit">
              <!-- Editar -->
              <mat-icon>edit</mat-icon>
            </button>
            <button color="warn" mat-icon-button aria-label="Edit" (click)="eliminarFechaForo(fecha.fecha)">
              <!-- Eliminar -->
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!mostrarEspaciosTiempo" class="blue" (click)="mostrarET(fecha)">
              <mat-icon>free_breakfast</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        a-md-data-table-column
        <!-- press ctrl + space to add more column snippet or delete this line -->

        <!-- press ctrl + space to add more column snippet or delete this line -->

        <!-- press ctrl + space to add more column snippet or delete this line -->

        <!-- press ctrl + space to add more column snippet or delete this line -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row [ngClass]="{ 'row-selected': row === fecha }" *matRowDef="let row; columns: displayedColumns">
        </mat-row>
      </mat-table>
      <div *ngIf="
          !fechasDataSource.spinnerValueBoolean() &&
          !fechasDataSource.getTotalFechas()
        " class="center-message">
        No se ha encontrado ningún registro
      </div>
      <mat-spinner *ngIf="fechasDataSource.spinnerValue() | async" diameter="50" class="table-loading"></mat-spinner>
      <!-- </div> -->
     

      <ng-template [ngIf]="mostrarEspaciosTiempo">
        <mat-card class="intervalos mat-elevation-z0">
          <mat-card-content>
            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="12%" fxLayoutGap.xs="2%">
              <div *ngIf="!(fecha.length > 0)">
                <span>Sin espacios de tiempo</span>
              </div>
              <div *ngFor="let intervalo of fecha.intervalos; let i = index">
                <mat-checkbox (change)="guardarBreak($event, intervalo)" color="primary"
                  value="{{ intervalo.posicion }}" [checked]="intervalo.break">{{ intervalo.hora }}
                  <!-- ,{{intervalos.fecha}},{{intervalo}},{{intervalos.posicion[i]}} -->
                </mat-checkbox>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="cerrarET()">Listo</button>
          </mat-card-actions>
        </mat-card>
      </ng-template>
    </div>
  </div>
</ng-template>