<div class="barra">
  <!-- <mat-toolbar color="primary">
    <span>title</span>
  </mat-toolbar> -->
  <app-header></app-header>
</div>
<form [formGroup]="formForo" (ngSubmit)="editar ? actualizarForo() : guardarForo()"
  #form="ngForm">
  <!-- (ngSubmit)="editar ? editarLinea(this.formulario.value) : registrar()" -->
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="no_foro" placeholder="No. Foro" required />
      <mat-error *ngIf="formForo.get('no_foro').hasError('required')">
        El campo No. Foro es requerido
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="nombre" placeholder="Nombre del foro" type="text" required />
      <mat-error *ngIf="formForo.get('nombre').hasError('required')">
        El campo nombre es requerido
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Periodo" formControlName="periodo" required>
        <mat-option value="Enero-Junio">Enero-Junio</mat-option>
        <mat-option value="Agosto-Diciembre">Agosto-Diciembre</mat-option>
      </mat-select>
      <mat-error *ngIf="formForo.get('periodo').hasError('required')">
        El campo periodo es requerido
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Año" formControlName="anio" required>
        <mat-option *ngFor="let anio of anios" [value]="anio">{{anio}}</mat-option>
      </mat-select>
      <mat-error *ngIf="formForo.get('anio').hasError('required')">
        El campo año es requerido
      </mat-error>
      <mat-error *ngIf="formForo.get('anio').hasError('serverError')"></mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <app-buttons [form]="form" [guardando]="guardando"></app-buttons>
  <!-- <mat-dialog-actions>
    <div *ngIf="!guardando; else spinner">
      <button mat-raised-button color="primary" [disabled]="!formForo.valid">Guardar</button>
      <button mat-raised-button color="warn" [mat-dialog-close]="1">Cancelar</button>
    </div>
    <ng-template #spinner>
      <mat-progress-spinner mode="indeterminate" diameter="25"></mat-progress-spinner>
    </ng-template>

  </mat-dialog-actions> -->
</form>