<div
    fxLayout="row"
    fxLayoutGap="12px"
>
    <mat-icon class="icon-xg">supervised_user_circle</mat-icon>
    <ng-container *ngIf="data; else nuevoRegistro">
        <h2>Editando registro...</h2>
    </ng-container>
    <ng-template #nuevoRegistro>
        <h2>Nuevo registro</h2>
    </ng-template>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
    <form
        [formGroup]="formGrupo"
        (ngSubmit)="!editar ? registrarGrupo():actualizarGrupo()"
        #form="ngForm"
    >
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input
                matInput
                formControlName="nombre"
                required
            >
            <mat-error *ngIf="formGrupo.get('nombre').hasError('required')">El campo nombre es obligatorio</mat-error>
            <mat-error *ngIf="formGrupo.get('nombre').hasError('serverError')">
                {{formGrupo.get('nombre').errors?.serverError}}
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<app-buttons [form]="form"></app-buttons>
