<div fxLayout="row">
    <div
        mat-card-avatar
        class="header-image"
    ></div>
    <ng-container *ngIf="data; else nuevoRegistro">
        <h4>{{data.nombreCompleto}}</h4>
        <mat-icon [ngClass]="{'verificado': data.acceso == 1,'error':data.acceso == 0}">
            {{data.acceso == 1 ? 'verified_user':'error'}}
        </mat-icon>
    </ng-container>
    <ng-template #nuevoRegistro>
        <h2>Nuevo registro</h2>
    </ng-template>
</div>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
    <form
        [formGroup]="formUsuario"
        (ngSubmit)="!editar ? registrarUsuario():actualizarUsuario()"
        #form="ngForm"
    >
        <mat-form-field appearance="fill">
            <mat-label>Número de control</mat-label>
            <input
                matInput
                formControlName="num_control"
                required
            >
            <mat-icon matSuffix>vpn_key</mat-icon>
            <mat-error *ngIf="formUsuario.get('num_control').hasError('required')">
                El campo número de control es obligatorio
            </mat-error>
            <mat-error *ngIf="formUsuario.get('num_control').hasError('serverError')">
                {{ formUsuario.get('num_control').errors?.serverError }}
            </mat-error>
        </mat-form-field>
        <ng-container *ngIf="editar">
            <mat-form-field appearance="fill">
                <mat-label>Nombre del usuario</mat-label>
                <input
                    matInput
                    formControlName="nombre"
                >
                <!-- required -->
                <mat-icon matSuffix>account_circle</mat-icon>
                <mat-error *ngIf="formUsuario.get('nombre').hasError('required')">El campo nombre es obligatorio</mat-error>
            </mat-form-field>
            <div
                fxLayout.gt-sm="row"
                fxLayout="column"
                fxLayoutGap.gt-sm="20px"
            >
                <mat-form-field appearance="fill">
                    <mat-label>Apellido paterno</mat-label>
                    <input
                        matInput
                        formControlName="apellidoP"
                    >
                    <!-- required -->
                    <mat-error *ngIf="formUsuario.get('apellidoP').hasError('required')">El campo email es obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Apellido materno</mat-label>
                    <input
                        matInput
                        formControlName="apellidoM"
                    >
                    <!-- required -->
                    <mat-error *ngIf="formUsuario.get('apellidoM').hasError('required')">El campo email es obligatorio</mat-error>
                </mat-form-field>
            </div>
        </ng-container>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
                matInput
                formControlName="email"
                placeholder="Email"
                required
            >
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="formUsuario.get('email').hasError('required')">El campo email es obligatorio</mat-error>
            <mat-error *ngIf="formUsuario.get('email').hasError('email')">Formato de email incorrecto</mat-error>
            <mat-error *ngIf="formUsuario.get('email').hasError('serverError')">
                {{ formUsuario.get('email').errors?.serverError }}
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<app-buttons
    [form]="form"    
></app-buttons>
