<div class="barra">
  <app-header></app-header>
</div>
<mat-dialog-content>
  <form [formGroup]="formUsuario" (ngSubmit)="editar ? editarUsuario() : registrarUsuario()" #form="ngForm">
    <mat-form-field>
      <input matInput formControlName="num_control" placeholder="Número de control" required />
      <mat-error *ngIf="formUsuario.get('num_control').hasError('required')">
        El campo número de control es requerido
      </mat-error>
      <mat-error *ngIf="formUsuario.get('num_control').hasError('serverError')">
        El número de control ya ha sido registrado
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="nombre" placeholder="Nombre del usuario" required />
      <mat-error *ngIf="formUsuario.get('nombre').hasError('required')">El campo nombre es requerido</mat-error>
    </mat-form-field>
    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="20px">
      <mat-form-field>
        <input matInput formControlName="apellidoP" placeholder="Apellido paterno" required />
        <mat-error *ngIf="formUsuario.get('apellidoP').hasError('required')">El campo email es requerido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="apellidoM" placeholder="Apellido materno" required />
        <mat-error *ngIf="formUsuario.get('apellidoM').hasError('required')">El campo email es requerido</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email" required />
      <mat-error *ngIf="formUsuario.get('email').hasError('required')">El campo email es requerido</mat-error>
      <mat-error *ngIf="formUsuario.get('email').hasError('email')">Formato de email incorrecto</mat-error>
      <mat-error *ngIf="formUsuario.get('email').hasError('serverError')">
        El email ya ha sido registrado
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<app-buttons [form]="form" [guardando]="guardando"></app-buttons>