    <!-- <mat-nav-list>
        <a [routerLink]="['home']" routerLinkActive="active" *ngxPermissionsOnly="['Administrador']">
            <mat-list-item>
                <mat-icon class="icon-sidenav-list" matListIcon>home</mat-icon>
                Inicio
            </mat-list-item>
        </a>
        <a [routerLink]="['usuarios']" routerLinkActive="active" *ngxPermissionsOnly="['Administrador']">
            <mat-list-item role="listitem">
                <mat-icon class="icon-sidenav-list" matListIcon>group</mat-icon>
                Usuarios
            </mat-list-item>
        </a>
        <a [routerLink]="['lineas-investigacion']" routerLinkActive="active" *ngxPermissionsOnly="['Administrador']">
            <mat-list-item role="listitem">
                Lineas de investigación
            </mat-list-item>
        </a>
        <a [routerLink]="['tipos-proyectos']" routerLinkActive="active" *ngxPermissionsOnly="['Administrador']">
            <mat-list-item role="listitem">
                Tipos de proyectos
            </mat-list-item>
        </a>
        <a [routerLink]="['foros']" routerLinkActive="active" *ngxPermissionsOnly="['Administrador']">
            <mat-list-item role="listitem">
                <mat-icon matListIcon>forum</mat-icon>
                Foros
            </mat-list-item>
        </a>
        <mat-expansion-panel class="mat-elevation-z0" *ngxPermissionsOnly="['Administrador']">
            <mat-expansion-panel-header>
                <mat-icon matListIcon>access_time</mat-icon>
                Horarios
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a class="submenu" mat-list-item [routerLink]="['jurado']">Horario del jurado</a>
                <a class="submenu" mat-list-item [routerLink]="['generar_horario']">Generar horario</a>
            </mat-nav-list>
        </mat-expansion-panel>
        <a [routerLink]="['asignar-jurado']" routerLinkActive="active" *ngxPermissionsOnly="['Administrador']">
            <mat-list-item role="listitems">Asignar jurado</mat-list-item>
        </a>
        <a [routerLink]="['asignar-jurado']" routerLinkActive="active" *ngxPermissionsOnly="['Docente']">
            <mat-list-item role="listitems">Asignar jurado</mat-list-item>
        </a>
    </mat-nav-list> -->

    <app-sidenav>
        puto
    </app-sidenav>