<div
    fxLayout="row"
    fxLayoutGap="12px"
>
    <mat-icon class="icon-xg">forum</mat-icon>
    <ng-container *ngIf="data; else nuevoRegistro">
        <h2 mat-dialog-title>{{data.no_foro+'° ' +data.nombre}}</h2>
    </ng-container>
    <ng-template #nuevoRegistro>
        <h2>Nuevo registro</h2>
    </ng-template>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
    <form
        [formGroup]="formForo"
        (ngSubmit)="!editar ? guardarForo():actualizarForo()"
        #form="ngForm"
    >
        <mat-form-field appearance="fill">
            <mat-label>No. Foro</mat-label>
            <input
                matInput
                formControlName="no_foro"
                placeholder="No. Foro"
                required
            >
            <mat-error *ngIf="formForo.get('no_foro').hasError('required')">El campo No. Foro es obligatorio</mat-error>
            <mat-error *ngIf="formForo.get('no_foro').hasError('serverError')">
                {{formForo.get('no_foro').errors?.serverError}}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Nombre del foro</mat-label>
            <input
                matInput
                formControlName="nombre"
                placeholder="Nombre del foro"
                type="text"
                required
            >
            <mat-error *ngIf="formForo.get('nombre').hasError('required')">El campo nombre es obligatorio</mat-error>
            <mat-error *ngIf="formForo.get('nombre').hasError('serverError')">
                {{formForo.get('nombre').errors?.serverError}}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Periodo</mat-label>
            <mat-select
                placeholder="Periodo"
                formControlName="periodo"
                required
            >
                <mat-option value="ENERO-JUNIO">ENERO-JUNIO</mat-option>
                <mat-option value="AGOSTO-DICIEMBRE">AGOSTO-DICIEMBRE</mat-option>
            </mat-select>
            <mat-error *ngIf="formForo.get('periodo').hasError('required')">El campo periodo es obligatorio</mat-error>
            <mat-error *ngIf="formForo.get('periodo').hasError('serverError')">
                {{formForo.get('periodo').errors?.serverError}}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Año</mat-label>
            <mat-select
                placeholder="Año"
                formControlName="anio"
                required
            >
                <mat-option
                    *ngFor="let anio of anios"
                    [value]="anio"
                >
                    {{anio}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formForo.get('anio').hasError('required')">El campo año es obligatorio</mat-error>
            <mat-error *ngIf="formForo.get('anio').hasError('serverError')">
                {{formForo.get('anio').errors?.serverError}}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">        
            <input
                matInput
                type="date"
                formControlName="fecha_limite"
                required
            >
            <mat-error *ngIf="formForo.get('fecha_limite').hasError('required')">El campo fecha limite es obligatorio</mat-error>
            <mat-error *ngIf="formForo.get('fecha_limite').hasError('serverError')">
                {{formForo.get('fecha_limite').errors?.serverError}}
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<app-buttons
    [form]="form"    
></app-buttons>
