<div
    fxLayout="row"
    fxLayoutGap="12px"
>
    <mat-icon class="icon-xg">forum</mat-icon>
    <ng-container *ngIf="data; else nuevoRegistro">
        <h3>{{data.no_foro+'° ' +data.nombre}}</h3>
        <!-- [ngClass]="{'verificado': data.acceso == 1,'error':data.acceso == 0}" -->
    </ng-container>
    <ng-template #nuevoRegistro>
        <h2>Nuevo registro</h2>
    </ng-template>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
    <form
        [formGroup]="formForo"
        (ngSubmit)="!editar ? guardarForo():actualizarForo()"
        #form="ngForm"
    >
        <mat-form-field appearance="fill">
            <mat-label>No. Foro</mat-label>
            <input
                matInput
                formControlName="no_foro"
                placeholder="No. Foro"
                required
            >
            <mat-error *ngIf="formForo.get('no_foro').hasError('required')">El campo No. Foro es requerido</mat-error>
            <mat-error *ngIf="formForo.get('no_foro').hasError('serverError')">
                {{formForo.get('no_foro').errors?.serverError}}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Nombre del foro</mat-label>
            <input
                matInput
                formControlName="nombre"
                placeholder="Nombre del foro"
                type="text"
                required
            >
            <mat-error *ngIf="formForo.get('nombre').hasError('required')">El campo nombre es requerido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Periodo</mat-label>
            <mat-select
                placeholder="Periodo"
                formControlName="periodo"
                required
            >
                <mat-option value="Enero-Junio">Enero-Junio</mat-option>
                <mat-option value="Agosto-Diciembre">Agosto-Diciembre</mat-option>
            </mat-select>
            <mat-error *ngIf="formForo.get('periodo').hasError('required')">El campo periodo es requerido</mat-error>
            <mat-error *ngIf="formForo.get('periodo').hasError('serverError')">
                {{formForo.get('periodo').errors?.serverError}}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Año</mat-label>
            <mat-select
                placeholder="Año"
                formControlName="anio"
                required
            >
                <mat-option
                    *ngFor="let anio of anios"
                    [value]="anio"
                >
                    {{anio}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formForo.get('anio').hasError('required')">El campo año es requerido</mat-error>
            <mat-error *ngIf="formForo.get('anio').hasError('serverError')">
                {{formForo.get('anio').errors?.serverError}}
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<app-buttons
    [form]="form"
    [guardando]="guardando"
></app-buttons>
