<!-- <div fxLayout="row" fxFlex>
  <app-header fxFlex="100">
    <button mat-icon-button>
      <mat-icon aria-label="label" (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span class="btn-user"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon aria-label="label">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
      </button>
      <div *ngIf="contarRoles() > 1">
        <a mat-menu-item *ngFor="let rol of roles" [routerLink]="['/' + rol]">{{ rol }}</a>
      </div>
    </mat-menu>
  </app-header>
  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #sidenav [mode]="mobileQuery.matches  ? 'side' : 'over'" [opened]="mobileQuery.matches" autosize>          
      <mat-nav-list>
        <a mat-list-item [routerLink]="['home']" routerLinkActive="active" *ngxPermissionsOnly="['Administrador','Docente']">          
            <mat-icon class="icon-sidenav-list" matListIcon>home</mat-icon>
            Inicio          
        </a>
        <a mat-list-item [routerLink]="['usuarios']" routerLinkActive="active" *ngxPermissionsOnly="['Administrador']" >          
            <mat-icon class="icon-sidenav-list" matListIcon>group</mat-icon>
            Usuarios          
        </a>
        <a mat-list-item [routerLink]="['lineas-investigacion']" routerLinkActive="active" *ngxPermissionsOnly="['Administrador']">          
            Lineas de investigación          
        </a>
        <a [routerLink]="['tipos-proyectos']" routerLinkActive="active" *ngxPermissionsOnly="['Administrador']">
          <mat-list-item role="listitem">
            Tipos de proyectos
          </mat-list-item>
        </a>       
        <a mat-list-item [routerLink]="['foros']" routerLinkActive="active" *ngxPermissionsOnly="['Administrador']">          
            <mat-icon matListIcon>forum</mat-icon>
            Foros          
        </a>
        <mat-expansion-panel class="mat-elevation-z0" *ngxPermissionsOnly="['Administrador']">
          <mat-expansion-panel-header>
            <mat-icon matListIcon>access_time</mat-icon>
            Horarios
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a class="submenu" mat-list-item [routerLink]="['jurado']">Horario del jurado</a>
            <a class="submenu" mat-list-item [routerLink]="['generar_horario']">Generar horario</a>
          </mat-nav-list>
        </mat-expansion-panel>

        
        <a *ngxPermissionsOnly="['Docente']">
          <mat-list-item role="listitems">Proyectos</mat-list-item>
        </a>
        <a [routerLink]="['asignar-jurado']" routerLinkActive="active" *ngxPermissionsOnly="['Docente']">
          <mat-list-item role="listitems">Horario</mat-list-item>
        </a>      
        <a [routerLink]="['registrar-proyecto']" routerLinkActive="active" *ngxPermissionsOnly="['Alumno']">
          <mat-list-item role="listitems">Registrar proyecto</mat-list-item>
        </a>
        <a mat-list-item [routerLink]="[ 'cambiar_contrasena']">Cambiar contraseña</a>
      </mat-nav-list> 
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->


<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="mobileQuery.matches  ? 'side' : 'over'" [opened]="mobileQuery.matches" autosize>
    <div fxLayout="column" style="height: 100%;">
      <!-- <mat-toolbar style=" background-color: #0D47A1; border-bottom:1px solid white"></mat-toolbar> -->
      <!-- <mat-toolbar> -->
        <!-- <mat-toolbar-row style="background-color: white;">
          <div style="border-radius: 50%; background-color: #fff; height: 40px; width: 40px;">
            <img src="../../../assets/img/ittg.png" alt="Perfil" height="40px" width="40px">
          </div>
          ITTG
        </mat-toolbar-row>       -->
        <!-- 0D47A1 -->
        <div fxLayout="column"
          style="padding:12px 16px;min-height:136px; max-height:136px; background-color: #fff; font-size: 16px;"
          fxLayoutGap="6px" fxLayoutAlign="end start">
          <!-- <div style="border-radius: 50%; background-color: #0D47A1; height: 40px; width: 40px;"> -->
          <div mat-card-avatar style="background-image: url('../../../assets/img/perfil2.png'); background-size: cover;">
            <!-- <img src="../../../assets/img/perfil2.png" alt="Perfil" height="40px"> -->
          </div>
          <!-- <div> -->
          <!-- <span> -->
            <!-- <span>Octavio Ariosto</span><br> -->
            <mat-card-title>Ariosto</mat-card-title>
            <mat-card-subtitle>maestro18@gmail.com</mat-card-subtitle>
            <!-- <span>maestro18@gmail.com</span> -->
            <!-- maestro18@gmail.com -->
          <!-- </span> -->
          <!-- </div> -->
          <!-- <div>
            maestro18@gmail.com
          </div> -->
        </div>
        <mat-divider></mat-divider>

      <!-- </mat-toolbar> -->


      <!-- <div fxLayout="column" style="height: max-content; background-color: #0D47A1; padding:10px 25px; color: white; font-weight: 500; font-size: 14px;border-bottom:1px solid thistle;"
        fxLayoutAlign="center center" fxLayoutGap="0px">                   
        <div style="min-height: 50px;">          
            <span>
              Oswaldo de Jesús Chacón Pérez
            </span>          
        </div>
        <div style="background-color: #fafafa; border-radius: 50%; height: 50px; width: 50px;top:110px; position:absolute">
          <img src="../../../assets/img/perfil2.png" alt="Perfil" height="50px">
        </div>              
      </div> -->


      <!-- 
      <div fxLayout="row" style="height: max-content; background-color: #0D47A1; padding:10px 25px; color: white; font-weight: 500; font-size: 14px;border-bottom:1px solid thistle;"
      fxLayoutAlign="center center" fxLayoutGap="10px">                   
      
      <div style="background-color: #fafafa; border-radius: 50%; height: 50px; width: 50px;">
        <img src="../../../assets/img/perfil2.png" alt="Perfil" height="50px">
      </div>   
      <div >
        <span>
          Oswaldo de Jesús Chacón Pérez
        </span>          
    </div>           
    </div> -->




      <!-- <div class="sidenav-header" fxLayout="column" fxLayoutAlign="center center">
        <div>
          <img src="../../../assets/img/ittg.png" alt="Perfil" height="64px">
        </div>
      </div> -->

      <!-- <mat-toolbar style="background-color: #153D77;"></mat-toolbar> -->
      <!-- <div class="sidenav-header" fxLayout="column" fxLayoutAlign="center center">
      <div>
        <img src="../../../assets/img/ittg.png" alt="Perfil" height="64px">
      </div>
    </div> -->
      <div style="overflow: auto; padding-top:12px">
        <!-- padding-top: 32px; -->
        <!-- fxFlex="100" -->
        <!-- style="overflow: auto;" -->


        <!-- <mat-grid-list cols="2"> -->
        <!-- <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <mat-nav-list>
              <a mat-list-item [routerLink]="['home']" routerLinkActive="active"
                *ngxPermissionsOnly="['Administrador','Docente','Alumno']">Inicio</a>
              <a mat-list-item [routerLink]="['home']" routerLinkActive="active"
                *ngxPermissionsOnly="['Administrador','Docente','Alumno']">Inicio</a>
                
            </mat-nav-list>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-list>
              <mat-list-item> Pepper </mat-list-item>
              <mat-list-item> Salt </mat-list-item>
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list> -->

        <mat-nav-list>


          <!-- <div fxLayout="row wrap" style="padding:16px" style="background-color: white; height: max-content;"
            fxLayoutGap="12px">
            <div fxFlex="50" fxLayoutAlign="center center" style="background-color: royalblue;">

              <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center" style="background-color: salmon;">
                <a mat-list-item [routerLink]="['home']" routerLinkActive="active"
                  *ngxPermissionsOnly="['Administrador','Docente','Alumno']" style="background-color: yellow;">
                  <div fxLayoutAlign="center center" style="align-items: center;">
                    <div fxFlex="100" style="background-color: skyblue;" fxLayoutAlign="center center">
                      <mat-icon matListIcon>home</mat-icon>
                    </div>
                  </div>
                  <div fxLayoutAlign="center center" style="background-color: teal;">Inicio</div>
                </a>
              </div>
            </div>
            <div FxFlex>
              <a mat-list-item [routerLink]="['home']" routerLinkActive="active"
                *ngxPermissionsOnly="['Administrador','Docente','Alumno']">
                <mat-icon matListIcon>home</mat-icon>
                Inicio
              </a>
            </div>
            <div FxFlex>
              <a mat-list-item [routerLink]="['home']" routerLinkActive="active"
                *ngxPermissionsOnly="['Administrador','Docente','Alumno']">
                <mat-icon matListIcon>home</mat-icon>
                Inicio
              </a>
            </div>
          </div> -->
          <a mat-list-item [routerLink]="['home']" routerLinkActive="active"
            *ngxPermissionsOnly="['Administrador','Docente','Alumno']">
            <mat-icon matListIcon>home</mat-icon>
            Inicio
          </a>
          <a mat-list-item routerLink="usuarios" [routerLinkActive]="['active']"
            *ngxPermissionsOnly="['Administrador']">
            <mat-icon matListIcon>group</mat-icon>
            Usuarios
          </a>
          <a mat-list-item [routerLink]="['lineas-investigacion']" routerLinkActive="active"
            *ngxPermissionsOnly="['Administrador']">
            Lineas de investigación
          </a>
          <a mat-list-item [routerLink]="['tipos-proyectos']" routerLinkActive="active"
            *ngxPermissionsOnly="['Administrador']">
            Tipos de proyectos
          </a>
          <a mat-list-item [routerLink]="['foros']" routerLinkActive="active" *ngxPermissionsOnly="['Administrador']">
            <mat-icon matListIcon>forum</mat-icon>
            Foros
          </a>
          <mat-expansion-panel class="mat-elevation-z0" *ngxPermissionsOnly="['Administrador']">
            <mat-expansion-panel-header>
              <mat-icon matListIcon>access_time</mat-icon>
              Horarios
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a class="submenu" mat-list-item [routerLink]="['jurado']">Horario del jurado</a>
              <a class="submenu" mat-list-item [routerLink]="['generar_horario']">Generar horario</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <a *ngxPermissionsOnly="['Docente']">
            <mat-list-item role="listitems">Proyectos</mat-list-item>
          </a>
          <a [routerLink]="['asignar-jurado']" routerLinkActive="active" *ngxPermissionsOnly="['Docente']">
            <mat-list-item role="listitems">Horario</mat-list-item>
          </a>
          <a mat-list-item [routerLink]="['registrar-proyecto']" routerLinkActive="active"
            *ngxPermissionsOnly="['Alumno']">
            <mat-icon matListIcon>note_add</mat-icon>
            Registrar proyecto
          </a>
          <a mat-list-item [routerLink]="[ 'cambiar_contrasena']">
            <mat-icon matListIcon>lock_open</mat-icon>
            Cambiar contraseña
          </a>





          <!-- 
          <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
              <a [routerLink]="[ 'cambiar_contrasena']">
                <div fxLayout="column" fxLayoutAlign="center center">
                  <div>
                    <mat-icon>book</mat-icon>
                  </div>
                  <div>Cambiar contraseña</div>
                </div>
              </a>
            </mat-grid-tile>
            <mat-grid-tile>
              <a [routerLink]="['home']" routerLinkActive="active" *ngxPermissionsOnly="['Administrador','Docente']">
                <div fxLayout="column" fxLayoutAlign="center center">
                  <div>
                    <mat-icon>home</mat-icon>
                  </div>
                  <div>Inicio</div>
                </div>
              </a>
            </mat-grid-tile>
            <mat-grid-tile>
              <a [routerLink]="['usuarios']" routerLinkActive="active"
                *ngxPermissionsOnly="['Administrador']">
                <div fxLayout="column" fxLayoutAlign="center center">
                  <div>
                    <mat-icon>group</mat-icon>
                  </div>
                  <div>Usuarios</div>
                </div>
              </a>
            </mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
          </mat-grid-list>
 -->

        </mat-nav-list>


      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <nav style="flex-flow:row wrap"> -->
    <mat-toolbar style="z-index: 9999; position: sticky; top:0;background-color: #0D47A1; color:white">
    <!-- <mat-toolbar style="z-index: 9999; position: sticky; top:0;background-color: white; color:black"> -->
      <!-- style="position: fixed;z-index: 999;" -->
      <button mat-icon-button>
        <mat-icon aria-label="label" (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <span class="btn-user"></span>
      <button mat-icon-button [matMenuTriggerFor]="notificaciones">
        <!-- <mat-icon aria-label="label">notifications</mat-icon> -->
        <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
      </button>
      <mat-menu #notificaciones="matMenu" xPosition="before">
        <app-card-header [title]="'Notificaciones'"></app-card-header>
        s
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar sesión</span>
        </button>
        <div *ngIf="contarRoles() > 1">
          <a mat-menu-item *ngFor="let rol of roles" [routerLink]="['/' + rol]">{{ rol }}</a>
        </div>
      </mat-menu>
    </mat-toolbar>
    <!-- </nav> -->
    <!-- <div style="background-color: #0D47A1; height: 120px; min-height: 120px; max-height: 120px;"> -->
    <!-- margin-top:64px -->
    <!-- </div> -->
    <!-- <div class="main-container" style="padding:24px" [ngStyle]="{'margin-top.px': -88}" [ngStyle.xs]="{'margin-top.px': -56}"> -->
    <div class="main-container" style="padding:24px">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>